.lab-dropdown {
  position: relative;
  display: block;
  isolation: isolate;
  width: max-content;
  width: -moz-max-content;
  margin: 0;
  padding: 0;

  &__listbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__option {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    isolation: isolate;
    padding: 8px 12px;

    & .lab-icon {
      z-index: 0;
    }

    &--disabled {
      cursor: auto;

      &:focus {
        & > span {
          box-shadow: none;
        }
        @each $name, $palette in $tag-main-colors {
          & > span.lab-tag--#{$name}-vivid {
            box-shadow: none;
          }
        }
      }

      &:hover {
        & > span {
          box-shadow: none;
        }
        @each $name, $palette in $tag-main-colors {
          & > span.lab-tag--#{$name}-vivid {
            box-shadow: none;
          }
        }
      }
    }
  }

  &__content {
    display: none;
    position: absolute;

    margin-top: 8px;
    user-select: text;
    min-width: 160px;
    width: max-content;
    width: -moz-max-content;
    max-height: 200px;
    overflow-y: scroll;

    padding: 8px 0;
    z-index: 1;

    background: #ffffff;

    box-shadow: 0px 0px 0px 2px $mineral-30, 0px 0px 28px $black-20;
    border-radius: 4px;
  }

  &--dblock {
    display: block;
  }

  &__content--is-open {
    display: flex;
  }

  &__section-title {
    width: 100%;
    text-align: left;
    padding: 8px 18px;
    box-sizing: border-box;
    text-transform: uppercase;

    font-weight: $weight-semibold;
    font-size: $font-size-1;
    line-height: $font-size-3;

    @each $name, $palette in $all-colors {
      &.lab-dropdown__section-title--color-#{$name} {
        color: map-get($palette, "60");
      }
    }
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c4c4c4 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}

@mixin main-pseudo-classes--pale {
  @each $name, $palette in $tag-main-colors {
    &:hover + span.lab-tag--#{$name}-pale {
      box-shadow: 0 0 0 2px map-get($palette, "30");

      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        background-color: white;
        border-color: white;
        box-shadow: 0 0 0 4px map-get($palette, "20");

        .lab-tag__remove-icon-wrapper {
          background-color: map-get($palette, "20");
        }
      }

      &.lab-tag--selected {
        background-color: mix(map-get($palette, "60"), black, 50%);
        border-color: mix(map-get($palette, "60"), black, 50%);
        box-shadow: 0 0 0 4px map-get($palette, "20");
      }
    }

    &:focus:hover + span.lab-tag--#{$name}-pale {
      box-shadow: 0 0 0 2px map-get($palette, "30"),
        0 0 0 4px map-get($palette, "20");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        box-shadow: 0 0 0 2px map-get($palette, "30"),
          0 0 0 4px map-get($palette, "20");
      }

      &.lab-tag--outline {
        border-color: map-get($palette, "20");
        &.lab-tag--selected {
          box-shadow: 0 0 0 2px $tag-vivid-color,
            0 0 0 4px $tag-hover-shadow-color;
        }
      }
    }

    &:focus + span.lab-tag--#{$name}-pale {
      box-shadow: 0 0 0 2px map-get($palette, "30");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        box-shadow: 0 0 0 2px map-get($palette, "30");
      }
    }
  }
}

@mixin main-pseudo-classes--vivid {
  @each $name, $palette in $tag-main-colors {
    &:hover + span.lab-tag--#{$name}-vivid {
      box-shadow: 0 0 0 2px map-get($palette, "30");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        background-color: mix(map-get($palette, "60"), black, 50%);
        border-color: mix(map-get($palette, "60"), black, 50%);
        box-shadow: 0 0 0 4px map-get($palette, "20");
      }

      &.lab-tag--outline {
        &.lab-tag--togglable,
        &.lab-tag--removable,
        &.lab-tag--dropdown {
          background-color: white;
          color: map-get($palette, "70");
          border-color: map-get($palette, "60");
          box-shadow: 0 0 0 4px map-get($palette, "20");

          .lab-tag--left-icon,
          .lab-tag--check-icon,
          .lab-tag--dropdown-icon,
          .lab-tag--remove-icon {
            background-color: map-get($palette, "70");
          }
        }
      }
    }

    &:focus:hover + span.lab-tag--#{$name}-vivid {
      box-shadow: 0 0 0 2px map-get($palette, "30"),
        0 0 0 4px map-get($palette, "20");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        box-shadow: 0 0 0 2px map-get($palette, "30"),
          0 0 0 4px map-get($palette, "20");
      }
      &.lab-tag--outline {
        &.lab-tag--togglable,
        &.lab-tag--removable,
        &.lab-tag--dropdown {
          border-color: map-get($palette, "40");
          box-shadow: 0 0 0 2px map-get($palette, "30"),
            0 0 0 4px map-get($palette, "20");
        }
      }
    }

    &:focus + span.lab-tag--#{$name}-vivid {
      box-shadow: 0 0 0 2px map-get($palette, "30");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        box-shadow: 0 0 0 2px map-get($palette, "30");
      }
    }
  }
}

@mixin all-pseudo-classes--pale {
  @each $name, $palette in $tag-all-colors {
    &:hover + span.lab-tag--#{$name}-pale {
      box-shadow: 0 0 0 2px map-get($palette, "30");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        background-color: white;
        border-color: white;
        box-shadow: 0 0 0 4px map-get($palette, "20");

        .lab-tag__remove-icon-wrapper {
          background-color: map-get($palette, "20");
        }
      }

      &.lab-tag--selected {
        background-color: mix(map-get($palette, "60"), black, 50%);
        border-color: mix(map-get($palette, "60"), black, 50%);
        box-shadow: 0 0 0 4px map-get($palette, "60");
        color: white;

        .lab-tag--check-icon {
          background-color: white;
        }
      }
    }

    &:focus:hover + span.lab-tag--#{$name}-pale {
      box-shadow: 0 0 0 2px map-get($palette, "60"),
        0 0 0 4px map-get($palette, "20");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        box-shadow: 0 0 0 2px map-get($palette, "60"),
          0 0 0 4px map-get($palette, "20");
      }

      &.lab-tag--selected {
        box-shadow: 0 0 0 2px map-get($palette, "20"),
          0 0 0 4px map-get($palette, "60");
      }

      &.lab-tag--outline {
        border-color: map-get($palette, "20");
      }
    }

    &:focus + span.lab-tag--#{$name}-pale {
      box-shadow: 0 0 0 2px map-get($palette, "30");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        box-shadow: 0 0 0 2px map-get($palette, "60");
      }
      &.lab-tag--selected {
        box-shadow: 0 0 0 2px map-get($palette, "20");
      }
    }
  }
}

@mixin all-pseudo-classes--vivid {
  @each $name, $palette in $tag-all-colors {
    &:hover + span.lab-tag--#{$name}-vivid {
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        background-color: mix(map-get($palette, "60"), black, 50%);
        border-color: mix(map-get($palette, "60"), black, 50%);
        box-shadow: 0 0 0 4px map-get($palette, "60");
        color: white;

        .lab-tag--left-icon,
        .lab-tag--check-icon,
        .lab-tag--dropdown-icon {
          background-color: white;
        }
      }

      &.lab-tag--outline {
        &.lab-tag--togglable,
        &.lab-tag--removable,
        &.lab-tag--dropdown {
          background-color: white;
          border-color: map-get($palette, "60");
          color: map-get($palette, "60");
          box-shadow: 0 0 0 2px map-get($palette, "20");
          @if $name == "yellow" {
            color: $mustard-70;
          }

          .lab-tag--left-icon,
          .lab-tag--check-icon,
          .lab-tag--dropdown-icon,
          .lab-tag--remove-icon {
            background-color: map-get($palette, "60");
            @if $name == "yellow" {
              background-color: $mustard-70;
            }
          }
        }
      }
    }

    &:focus:hover + span.lab-tag--#{$name}-vivid {
       box-shadow: 0 0 0 2px map-get($palette, "60"),
        0 0 0 4px map-get($palette, "20");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        border-color: map-get($palette, "60");
        box-shadow: 0 0 0 4px map-get($palette, "20");
      }

      &.lab-tag--outline {
        &.lab-tag--togglable,
        &.lab-tag--removable,
        &.lab-tag--dropdown {
          border-color: map-get($palette, "60");
          box-shadow: 0 0 0 2px map-get($palette, "20"),
            0 0 0 4px map-get($palette, "60");
        }
      }
    }

    &:focus + span.lab-tag--#{$name}-vivid {
      box-shadow: 0 0 0 2px map-get($palette, "20");
      &.lab-tag--togglable,
      &.lab-tag--removable,
      &.lab-tag--dropdown {
        box-shadow: 0 0 0 2px map-get($palette, "20");
      }
      &.lab-tag--outline {
        border-color: map-get($palette, "60");
        box-shadow: 0 0 0 2px map-get($palette, "20");
      }
    }
  }
}

.lab-dropdown__invisible-button {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;

  &--disabled {
    cursor: auto;
  }
}

.lab-dropdown__invisible-button--trigger {
  @include main-pseudo-classes--pale;
  @include main-pseudo-classes--vivid;
  @include all-pseudo-classes--pale;
  @include all-pseudo-classes--vivid;
  @extend .lab-dropdown__invisible-button;
}

.lab-dropdown__invisible-button--option {
  @include main-pseudo-classes--pale;
  @include main-pseudo-classes--vivid;
  @include all-pseudo-classes--pale;
  @include all-pseudo-classes--vivid;
  @extend .lab-dropdown__invisible-button;
}
