$btn-radius: $radius-1; //4px
$btn-font-size: 16px;
$btn-line-heigt: 14px;

//Button colors from theme.
$btn-main-color: map-get($button-theme, "60");
$btn-border-hover: map-get($button-theme, "80");
$border-shadow-hover: map-get($button-theme, "10");
$btn-bg-active: map-get($button-theme, "70");
$btn-border-active: map-get($button-theme, "40");
$btn-border-focus: map-get($button-theme, "70");
$border-shadow-focus: map-get($button-theme, "30");
$btn-bg-focus-active: map-get($button-theme, "80");

$outline-color-active: map-get($button-theme, "70");
$outline-color-focus-active: map-get($button-theme, "80");

$text-bg-hover: map-get($button-theme, "10");
$text-color-active: map-get($button-theme, "70");
$text-bg-active: map-get($button-theme, "20");

.lab-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
  font-size: $btn-font-size;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  line-height: $btn-line-heigt;
  font-variant-numeric: $font-aligned-numbers;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
  border: 2px solid;
  border-radius: $btn-radius;
  outline: none;
  transition: all $duration-base;

  &:hover,
  &:focus,
  &:active,
  &:focus:hover,
  &:focus:active,
  &:disabled,
  &[aria-disabled] {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

  &:disabled, &[aria-disabled] {
    pointer-events: none;
    cursor: default;
  }
}

// Button elements

// Button icon is scaled to 16x16px but it still occupies 24x24px, having a "native" margin of 4px.
// We apply negative margin-left to remove this space and adds margin-right to match the expected
// 8px spacing between icon and text on button.
.lab-btn__icon {
  margin-right: 4px;
  margin-left: -4px;
}

// Button sizes modifiers
.lab-btn--normal {
  height: 40px;
  padding: 0 16px;
}

.lab-btn--small {
  height: 32px;
  padding: 0 16px;
}

.lab-btn--large {
  height: 48px;
  padding: 0 16px;
}

.lab-btn--block {
  width: 100%;
}

// Button variant modifiers
.lab-btn--default {
  color: white;
  background-color: $btn-main-color;
  border-color: $btn-main-color;

  &:hover {
    @include border-shadow(hover, $border-shadow-hover);
    border-color: $btn-border-hover;
  }

  &:focus {
    @include border-shadow(focus, $border-shadow-focus);
    border-color: $btn-border-focus;
  }

  &:active {
    background-color: $btn-bg-active;
    border-color: $btn-border-active;
  }

  &:focus:hover {
    @include border-shadow(focus-hover, $border-shadow-focus, $border-shadow-hover);
    border-color: $btn-border-hover;
  }

  &:focus:active {
    @include border-shadow(focus, $border-shadow-focus);
    background-color: $btn-bg-focus-active;
    border-color: $btn-border-active;
  }

  &:disabled,
  &[aria-disabled],
  &.lab-btn--dark:disabled,
  &.lab-btn--light:disabled,
  &.lab-btn--warning:disabled,
  &.lab-btn--warning-invert:disabled,
  &.lab-btn--destructive:disabled,
  &.lab-btn--destructive-invert:disabled,
  &.lab-btn--confirmation-invert:disabled {
    color: $mineral-40;
    background-color: $mineral-20;
    border-color: $mineral-20;

    .lab-btn__icon {
      color: $mineral-40;
    }
  }

  &.lab-btn--dark {
    color: $white;
    background-color: $mineral-90;
    border-color: $mineral-90;

    &:hover {
      @include border-shadow(hover, $black-20);
      background-color: $mineral-90;
      border-color: $mineral-90;
    }

    &:focus {
      @include border-shadow(focus, $mineral-90);
      background-color: $mineral-90;
      border-color: $white;
    }

    &:active {
      background-color: $black-50;
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $mineral-90, $black-20);
      background-color: $mineral-90;
      border-color: $white;
    }

    &:focus:active {
      @include border-shadow(focus, $mineral-90);
      background-color: $black-50;
      border-color: $white;
    }
  }

  &.lab-btn--light {
    color: $mineral-90;
    background-color: $white;
    border-color: $white;

    .lab-btn__icon {
      color: $mineral-90
    }

    &:hover {
      @include border-shadow(hover, $white-20);
      color: $white;
      border-color: $white;
    }

    &:focus {
      @include border-shadow(focus, $white);
      color: $white;
      border-color: $mineral-90;
    }

    &:active {
      color: $white-50;
      border-color: $white;
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $white, $white-20);
      color: $white;
      border-color: $black-75;
    }

    &:focus:active {
      @include border-shadow(focus, $white);
      background-color: $white-50;
      border-color: $mineral-90;
    }
  }

  &.lab-btn--warning {
    color: $black-75;
    background-color: $yellow-60;
    border-color: $yellow-60;

    .lab-btn__icon {
      color: $black-75;
    }

    &:hover {
      @include border-shadow(hover, $yellow-20);
      background-color: $yellow-60;
      border-color: $yellow-60;
    }

    &:focus {
      @include border-shadow(focus, $yellow-60);
      background-color: $yellow-60;
      border-color: $white;
    }

    &:active {
      color: $white;
      background: mix($yellow-60, black, 50%);

      .lab-btn__icon {
        color: white;
      }
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $yellow-60, $yellow-20);
      background-color: $yellow-60;
      border-color: $white;
    }

    &:focus:active {
      background: mix($yellow-60, black, 50%);
      border-color: $white;
    }
  }

  &.lab-btn--warning-invert {
    color: $yellow-60;
    background-color: $mineral-90;
    border-color: $mineral-90;

    .lab-btn__icon {
      color: $yellow-60;
    }

    &:hover {
      @include border-shadow(hover, $black-20);
      background-color: $mineral-90;
      border-color: $mineral-90;
    }

    &:focus {
      @include border-shadow(focus, $mineral-90);
      background-color: $mineral-90;
      border-color: $yellow-60;
    }

    &:active {
      background-color: $black-50;
      border-color: $mineral-90;
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $mineral-90, $black-20);
      background-color: $mineral-90;
      border-color: $yellow-60;
    }

    &:focus:active {
      @include border-shadow(focus, $mineral-90);
      background-color: $black-50;
      border-color: $yellow-60;
    }
  }

  &.lab-btn--destructive {
    color: $white;
    background-color: $red-60;
    border-color: $red-60;

    &:hover {
      @include border-shadow(hover, $red-20);
      background-color: $red-60;
      border-color: $red-60;
    }

    &:focus {
      @include border-shadow(focus, $red-60);
      background-color: $red-60;
      border-color: $white;
    }

    &:active {
      background: mix($red-60, black, 50%);
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $red-60, $red-20);
      background-color: $red-60;
      border-color: $white;
    }

    &:focus:active {
      background: mix($red-60, black, 50%);
      border-color: $white;
    }
  }

  &.lab-btn--destructive-invert {
    color: $red-60;
    background-color: $white;
    border-color: $white;

    .lab-btn__icon {
      color: $red-60;
    }

    &:hover {
      @include border-shadow(hover, $white-20);
      background-color: $white;
      border-color: $white;
    }

    &:focus {
      @include border-shadow(focus, $white);
      background-color: $white;
      border-color: $red-60;
    }

    &:active {
      background-color: $white-50;
      border-color: $white;
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $white, $white-20);
      background-color: $white;
      border-color: $red-60;
    }

    &:focus:active {
      @include border-shadow(focus, $white);
      background-color: $white-50;
      border-color: $red-60
    }
  }

  &.lab-btn--confirmation-invert {
    color: $green-60;
    background-color: $white;
    border-color: $white;

    .lab-btn__icon {
      color: $green-60;
    }

    &:hover {
      @include border-shadow(hover, $white-20);
      background-color: $white;
      border-color: $white;
    }

    &:focus {
      @include border-shadow(focus, $white);
      background-color: $white;
      border-color: $green-60;
    }

    &:active {
      background-color: $white-50;
      border-color: $white;
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $white, $white-20);
      background-color: $white;
      border-color: $green-60;
    }

    &:focus:active {
      @include border-shadow(focus, $white);
      background-color: $white-50;
      border-color: $green-60;
    }
  }
}

.lab-btn--outline {
  color: $btn-main-color;
  background-color: transparent;

  .lab-btn__icon {
    color: $btn-main-color;
  }

  &:hover {
    @include border-shadow(hover, $border-shadow-hover);
    border-color: $btn-border-hover;
  }

  &:focus {
    @include border-shadow(focus, $border-shadow-focus);
    border-color: $btn-border-focus;
  }

  &:active {
    color: $outline-color-active;
    border-color: $btn-border-active;
  }

  &:focus:hover {
    @include border-shadow(focus-hover, $border-shadow-focus, $border-shadow-hover);
    border-color: $btn-border-hover;
  }

  &:focus:active {
    @include border-shadow(focus, $border-shadow-focus);
    color: $outline-color-focus-active;
    border-color: $btn-border-active;
  }

  &:disabled,
  &[aria-disabled],
  &.lab-btn--dark:disabled {
    color: $mineral-30;
    border-color: $mineral-20;

    .lab-btn__icon {
      color: $mineral-30;
    }
  }

  &.lab-btn--light:disabled {
    color: $white-50;
    border-color: $white-20;

    .lab-btn__icon {
      color: $white-50;
    }
  }

  &.lab-btn--dark {
    color: $mineral-90;
    background-color: transparent;
    border-color: $mineral-90;

    .lab-btn__icon {
      color: $mineral-90;
    }

    &:hover {
      @include border-shadow(hover, $black-20);
      color: $mineral-90;
      border-color: $mineral-90;
    }

    &:focus {
      @include border-shadow(focus, $mineral-90);
      color: $mineral-90;
      border-color: $black-35;
    }

    &:active {
      color: $mineral-90;
      background-color: $black-10;
      border-color: $black-50;
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $mineral-90, $black-20);
      color: $mineral-90;
      border-color: $black-35;
    }

    &:focus:active {
      @include border-shadow(focus, $mineral-90);
      color: $mineral-90;
      background-color: $black-10;
      border-color: $black-50;
    }
  }

  &.lab-btn--light {
    color: $white;
    background-color: transparent;
    border-color: $white;

    .lab-btn__icon {
      color: $white;
    }

    &:hover {
      @include border-shadow(hover, $white-20);
      color: $white;
      border-color: $white;
    }

    &:focus {
      @include border-shadow(focus, $white);
      color: $white;
      border-color: $white-35;
    }

    &:active {
      color: $white;
      background-color: $white-10;
      border-color: $white-50;
    }

    &:focus:hover {
      @include border-shadow(focus-hover, $white, $white-20);
      color: $white;
      border-color: $white-35;
    }

    &:focus:active {
      @include border-shadow(focus, $white);
      color: $white;
      background-color: $white-10;
      border-color: $white-35;
    }
  }
}

.lab-btn--text {
  color: $btn-main-color;
  text-transform: uppercase;
  letter-spacing: 1%;
  background-color: transparent;
  border-color: transparent;

  .lab-btn__icon {
    color: $btn-main-color;
  }

  &:hover {
    background-color: $text-bg-hover;
  }

  &:focus {
    @include border-shadow(focus, $border-shadow-focus);
  }

  &:active {
    color: $text-color-active;
    background-color: $text-bg-active;
  }

  &:focus:hover {
    @include border-shadow(focus, $border-shadow-focus);
    background-color: $text-bg-hover;
  }

  &:focus:active {
    @include border-shadow(focus, $border-shadow-focus);
    color: $text-color-active;
    background-color: $text-bg-active;
  }

  &:disabled,
  &[aria-disabled],
  &.lab-btn--light:disabled {
    color: $mineral-30;

    .lab-btn__icon {
      color: $mineral-30;
    }
  }

  &.lab-btn--light:disabled {
    color: $white-50;

    .lab-btn__icon {
      color: $white-50;
    }
  }

  &.lab-btn--light {
    color: $white;

    .lab-btn__icon {
      color: $white;
    }

    &:hover {
      background-color: $white-10;
    }

    &:focus {
      @include border-shadow(focus, $white-50);
    }

    &:active {
      color: $white;
      background-color: $white-20;
    }
  }

  &.lab-btn--dark {
    color: $mineral-80;

    .lab-btn__icon {
      color: $mineral-80;
    }

    &:hover {
      background-color: $black-10;
    }

    &:focus {
      @include border-shadow(focus, $black-50);
    }

    &:active {
      color: $mineral-80;
      background-color: $black-20;
    }
  }
}
