.lab-icon {
  /* Color modifiers.
   * Create classes '.lab-icon--white' and '.lab-icon--black' directly.
   * Iterates over $all-colors map to also create classes like '.lab-icon--white'.
   * Each ones sets a different background color. */
  &--black { color: $black; }
  &--white { color: $white; }

  @each $key, $palette in $all-colors {
    @each $color-palette, $color in $palette {
      &--#{$key}-#{$color-palette} {
          color: $color;
      }
    }
  }
}
