// Default themes
$default-theme: $teal-palette !default;
$secondary-theme: $purple-palette !default;

// Component's themes
$icon-theme: $mineral-palette !default;
$badge-theme: $mineral-palette !default;
$toggle-theme: $toggle-teal-theme !default;
$button-theme: $default-theme !default;
$link-theme: $default-theme !default;
$input-theme: $default-theme !default;
$checkbox-theme: $default-theme !default;
$radio-theme: $default-theme !default;
$tooltip-theme: $mineral-palette !default;
$search-theme: $input-theme !default;
$tag-theme: $mineral-palette !default;
$narrow-sidebar-theme: $default-theme !default;
