@use 'sass:map';

$alerts-font-size: $font-size-3;
$alerts-line-height: 20px;

// Alert component
.lab-alert {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: $spacing-1 0;
  padding: $spacing-3 $spacing-4;
  color: $mineral-70;
  border-radius: 8px;
  font-variant-numeric: $font-aligned-numbers;

  &--info {
    @extend .lab-alert;
    background-color: rgba($mineral-20, .2);
    border: 2px solid $mineral-40;
  }

  &--error {
    @extend .lab-alert;
    background-color: rgba($red-20, .2);
    border: 2px solid $red-60;
  }

  &--warn {
    @extend .lab-alert;
    background-color: rgba($yellow-20, .2);
    border: 2px solid $yellow-60;
  }

  @include from($tablet) {
    border-radius: 12px;
    width: fit-content;
    width: -moz-fit-content;
    flex-wrap: unset;
  }
}

// Elements
.lab-alert__icon {
  margin-right: $spacing-4;
  display: none;

  @include from($tablet) {
    display: inline-block;
  }
}

.lab-alert__message {
  flex-grow: 1;
  flex-shrink: 1;
  font-family: $font-primary;
  font-size: $alerts-font-size;
  line-height: $alerts-line-height;
  font-weight: $weight-bold;
  -webkit-font-smoothing: antialiased;

  @include from($tablet) {
    flex-grow: unset;
    width: auto;
  }
}

.lab-alert__button {
  margin-top: $spacing-1;

  @include from($tablet) {
    margin-top: unset;
    margin-left: $spacing-4;
  }
}

// Banner component
.lab-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: $spacing-3;
  color: $white;
  position: sticky;
  position: -webkit-sticky;
  font-variant-numeric: $font-aligned-numbers;

  top: 0;
  z-index: 5;

  &--info {
    @extend .lab-banner;
    background-color: $mineral-60;
  }

  &--error {
    @extend .lab-banner;
    background-color: $red-60;
  }

  &--warn {
    @extend .lab-banner;
    background-color: $yellow-60;
    color: $black-75;

    .lab-banner__icon {
      background-color: $black-75;
    }
  }

  @include from($tablet) {
    justify-content: center;
    flex-wrap: unset;
  }
}

// Elements
.lab-banner__icon {
  @extend .lab-alert__icon;
}

.lab-banner__message {
  @extend .lab-alert__message;
}

.lab-banner__button {
  @extend .lab-alert__button;
}
