.lab-dropdown {
  position: relative;
  display: block;
  isolation: isolate;
  width: fit-content;
  margin: 0;
  padding: 0;

  &__listbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__option {
    padding: 8px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;

    &:focus {
      & > span {
        @extend .lab-tag:focus;
      }
      @each $name, $palette in $tag-main-colors {
        & > span.lab-tag--#{$name}-vivid {
          @extend .lab-tag--#{$name}-vivid:focus;
        }
      }
    }

    &:hover {
      & > span {
        @extend .lab-tag:focus;
      }
      @each $name, $palette in $tag-main-colors {
        & > span.lab-tag--#{$name}-vivid {
          @extend .lab-tag--#{$name}-vivid:focus;
        }
      }
    }
  }

  &__content {
    display: none;
    position: absolute;

    margin-top: 8px;
    user-select: text;
    min-width: 160px;
    width: max-content;
    max-height: 200px;
    overflow: auto;

    padding: 8px 0;
    z-index: 1;

    background: #ffffff;

    border: 2px solid $mineral-30;

    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &--dblock {
    display: block;
  }

  &__content--is-open {
    display: flex;
  }

  &__section-title {
    width: 100%;
    text-align: left;
    padding: 8px 18px;
    box-sizing: border-box;
    text-transform: uppercase;

    font-weight: $weight-semibold;
    font-size: $font-size-1;
    line-height: $font-size-3;

    @each $name, $palette in $all-colors {
      &.lab-dropdown__section-title--color-#{$name} {
        color: map-get($palette, "60");
      }
    }
  }
}
