// SPACING

/*
Spacing variables for components
*/
$spacing-01: 0.25rem; //4px
$spacing-02: 0.5rem; //8px
$spacing-03: 0.75rem; //12px
$spacing-04: 1rem; //16px
$spacing-05: 1.25rem; //20px
$spacing-06: 1.5rem; //24px
$spacing-07: 2rem; //32px
$spacing-08: 2.5rem; //40px
$spacing-09: 3.25rem; //52px
$spacing-10: 3.75rem; //60px

/*
Spacing variables for layouts
*/
$layout-01: 0.75rem; //12px
$layout-02: 1rem; //16px
$layout-03: 1.25rem; //20px
$layout-04: 1.5rem; //24px
$layout-05: 2rem; //32px
$layout-06: 2.5rem; //40px
$layout-07: 2.75rem; // 44px
$layout-08: 3.25rem; //52px
$layout-09: 4rem; //64px
$layout-10: 4.5rem; //72px
$layout-11: 5.75rem; //92px
$layout-12: 6.25rem; //100px
$layout-13: 7.75rem; //124px
$layout-14: 8.85rem; //140px