// Typography variables

$family-serif: "ff-meta-serif-web-pro", "Merriweather", Times, serif;
$family-sans-serif: "freight-sans-pro", "Merriweather Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "IBM Plex Mono", monospace;

$render-mode: optimizeLegibility !default;
$letter-spacing: 0 !default;

/*
 * The font-variant-numeric property controls the usage of alternate glyphs for numbers, fractions, and ordinal markers.
 * Values:
 * ordinal: Ordinals. Replaces characters with ordinal forms for use after numbers.
 *
 * <numeric-figure-values>: These values control the figures used for numbers. Two values are possible:
 *   lining-nums activating the set of figures where numbers are all lying on the baseline. It corresponds to the OpenType values lnum.
 *   oldstyle-nums activating the set of figures where some numbers, like 3, 4, 7, 9 have descenders. It corresponds to the OpenType values onum.
 *
 * <numeric-spacing-values>: These values controls the sizing of figures used for numbers. Two values are possible:
 *   proportional-nums activating the set of figures where numbers are not all of the same size. It corresponds to the OpenType values pnum.
 *   tabular-nums activating the set of figures where numbers are all of the same size, allowing them to be easily aligned like in tables. It corresponds to the OpenType values tnum.
*/
$font-aligned-numbers: lining-nums;
$font-oldstyle-numbers: oldstyle-nums;
$font-tabular-numbers: tabular-nums;
$font-proportional-numbers: proportional-nums;
$font-ordinal-numbers: ordinal;

$font-size-1: 0.75rem !default; //12px
$font-size-2: 0.875rem !default; //14px
$font-size-3: 1rem !default; //16px
$font-size-4: 1.125rem !default; //18px
$font-size-5: 1.25rem !default; //20px
$font-size-6: 1.5rem !default; //24px
$font-size-7: 1.75rem !default; //28px
$font-size-8: 2rem !default; //32px
$font-size-9: 2.5rem !default; //40px
$font-size-10: 3rem !default; //48px
$font-size-11: 3.25rem !default; //52px
$font-size-12: 3.75rem !default; //60px

$font-sizes: (
  size-1: $font-size-1,
  size-2: $font-size-2,
  size-3: $font-size-3,
  size-4: $font-size-4,
  size-5: $font-size-5,
  size-6: $font-size-6,
  size-7: $font-size-7,
  size-8: $font-size-8,
  size-9: $font-size-9,
  size-10: $font-size-10,
  size-11: $font-size-11,
  size-12: $font-size-12,
);

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
$weight-black: 900 !default;

$font-weights: (
  light: $weight-light,
  normal: $weight-normal,
  medium: $weight-medium,
  semibold: $weight-semibold,
  bold: $weight-bold,
  black: $weight-black,
);